body {
    font-family: Arial, sans-serif;
  }
  
  header, section {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .photo-item {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  