body {
    font-family: Arial, sans-serif;
  }
  
  header, section {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .photo-item {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }

#photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-item {
  margin: 10px;
}

.photo-item img {
  width: 150px; /* Or your desired width */
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.photo-item p {
  text-align: center;
}

  
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Replace 200px with the size of the square you want */
  grid-gap: 16px; /* This adds space between the images */
  margin: auto;
  width: 90%; /* Adjust the width as needed */
  max-width: 1200px; /* Adjust the maximum width as needed */
}

#gallery img {
  width: 100%;
  height: 200px; /* Adjust to the desired square size */
  object-fit: cover; /* This will cover the square area, cropping the image if necessary */
  border-radius: 8px; /* Optional: adds rounded corners */
}
